%main-font-app {
    color: $main-font-color;
    font-family: sans-serif;
}

//====== Content
%flex-in-column {
    display: flex;
    flex-direction: column;
}

/**
/* Usage
/*
/* .message {
/*     @extend %flex-in-column
/* }
**/