@import '../../sass/variables';
@import '../../sass/extends';
.card-book-item {
    margin: 1em;
    width: 22%;
    .content-header {
        padding-right: 16px !important;
        div {
            padding-right: 0 !important;
        }
    }
}

.content-list-books {
    @extend %main-font-app;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}