@import '../../sass/variables';
@import '../../sass/extends';
.create-content {
    @extend %main-font-app;
    height: 100%;
    @extend %flex-in-column;
    .title-create {
        margin-top: 0;
        padding-top: 1em;
    }
    .button-create-content {
        margin: 8em;
        display: flex;
        padding: 1em 10em;
    }
}