@import '../sass/variables';
@import '../sass/extends';
.App {
    @extend %main-font-app;
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    display: flex;
    flex-direction: row;
    height: 150px;
    padding: 0 2em;
    background: $background-header !important;
}

.App-title {
    font-size: 1.5em;
    align-self: center;
    flex: 2;
}

.App-intro {
    font-size: large;
}

.App-main {
    @extend %flex-in-column;
}

.pre-loader-home {
    height: 10px !important;
    align-self: center !important;
}